In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# matplotlib.use('Qt5Agg')

In [2]:
train = pd.read_csv('train.csv', parse_dates=True)
test = pd.read_csv('test.csv', parse_dates=True)
train['time'] = pd.to_datetime(train['time'])
test['time'] = pd.to_datetime(test['time'])

# set time as index and keep time in column
train['time_local'] = train['time'].copy()
train.set_index('time', inplace=True)

test['time_local'] = test['time'].copy()
test.set_index('time', inplace=True)

In [3]:
train.head()

,P,Gb(i),Gd(i),H_sun,T2m,WS10m,load,residual_load,dataset_id,time_local
time,,,,,,,,,,
2018-01-01 00:00:00,0.0,0.0,0.0,0.0,9.11,5.38,113.5,113.5,1,2018-01-01 00:00:00
2018-01-01 00:15:00,0.0,0.0,0.0,0.0,8.89,5.43,119.0,119.0,1,2018-01-01 00:15:00
2018-01-01 00:30:00,0.0,0.0,0.0,0.0,8.66,5.48,117.5,117.5,1,2018-01-01 00:30:00
2018-01-01 00:45:00,0.0,0.0,0.0,0.0,8.44,5.54,114.5,114.5,1,2018-01-01 00:45:00
2018-01-01 01:00:00,0.0,0.0,0.0,0.0,8.22,5.59,123.0,123.0,1,2018-01-01 01:00:00

In [4]:
test.head()

,Gb(i),Gd(i),H_sun,T2m,WS10m,dataset_id,time_local
time,,,,,,,
2018-03-26 00:00:00,0.0,0.0,0.0,1.76,1.52,1,2018-03-26 00:00:00
2018-03-26 00:15:00,0.0,0.0,0.0,1.57,1.52,1,2018-03-26 00:15:00
2018-03-26 00:30:00,0.0,0.0,0.0,1.38,1.52,1,2018-03-26 00:30:00
2018-03-26 00:45:00,0.0,0.0,0.0,1.19,1.52,1,2018-03-26 00:45:00
2018-03-26 01:00:00,0.0,0.0,0.0,1.00,1.52,1,2018-03-26 01:00:00

In [5]:
## get the data from exactly a week ago and additionally the time steps one hour before and after that one for trends
train_raw = train.copy()

# shift: minus 1 week and one hour
train_tmp = train_raw.copy()
train_tmp['time_local'] = train_tmp['time_local'] - pd.DateOffset(days=7) - pd.DateOffset(hour=1)
train_tmp = train_tmp.add_suffix('_m1w_m1h')
train = pd.concat([train, train_tmp],axis=1).sort_index()

# shift: minus 1 week
train_tmp = train_raw.copy()
train_tmp['time_local'] = train_tmp['time_local'] - pd.DateOffset(days=7)
train_tmp = train_tmp.add_suffix('_m1w')
train = pd.concat([train, train_tmp],axis=1).sort_index()

# shift: minus 6 days and 23 hours
train_tmp = train_raw.copy()
train_tmp['time_local'] = train_tmp['time_local'] - pd.DateOffset(days=7) + pd.DateOffset(hour=1)
train_tmp = train_tmp.add_suffix('_m1w_p1h')
train = pd.concat([train, train_tmp],axis=1).sort_index()

train.head()

C:\Users\jkoch\AppData\Local\Temp\ipykernel_30504\3986819880.py:6: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  train_tmp['time_local'] = train_tmp['time_local'] - pd.DateOffset(days=7) - pd.DateOffset(hour=1)
C:\Users\jkoch\AppData\Local\Temp\ipykernel_30504\3986819880.py:18: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  train_tmp['time_local'] = train_tmp['time_local'] - pd.DateOffset(days=7) + pd.DateOffset(hour=1)

,P,Gb(i),Gd(i),H_sun,T2m,WS10m,load,residual_load,dataset_id,time_local,...,P_m1w_p1h,Gb(i)_m1w_p1h,Gd(i)_m1w_p1h,H_sun_m1w_p1h,T2m_m1w_p1h,WS10m_m1w_p1h,load_m1w_p1h,residual_load_m1w_p1h,dataset_id_m1w_p1h,time_local_m1w_p1h
time,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.0,0.0,0.0,0.0,9.11,5.38,113.5,113.5,1,2018-01-01 00:00:00,...,0.0,0.0,0.0,0.0,9.11,5.38,113.5,113.5,1,2017-12-25 01:00:00
2018-01-01 00:15:00,0.0,0.0,0.0,0.0,8.89,5.43,119.0,119.0,1,2018-01-01 00:15:00,...,0.0,0.0,0.0,0.0,8.89,5.43,119.0,119.0,1,2017-12-25 01:15:00
2018-01-01 00:30:00,0.0,0.0,0.0,0.0,8.66,5.48,117.5,117.5,1,2018-01-01 00:30:00,...,0.0,0.0,0.0,0.0,8.66,5.48,117.5,117.5,1,2017-12-25 01:30:00
2018-01-01 00:45:00,0.0,0.0,0.0,0.0,8.44,5.54,114.5,114.5,1,2018-01-01 00:45:00,...,0.0,0.0,0.0,0.0,8.44,5.54,114.5,114.5,1,2017-12-25 01:45:00
2018-01-01 01:00:00,0.0,0.0,0.0,0.0,8.22,5.59,123.0,123.0,1,2018-01-01 01:00:00,...,0.0,0.0,0.0,0.0,8.22,5.59,123.0,123.0,1,2017-12-25 01:00:00

In [6]:
list(train.columns)

['P',
 'Gb(i)',
 'Gd(i)',
 'H_sun',
 'T2m',
 'WS10m',
 'load',
 'residual_load',
 'dataset_id',
 'time_local',
 'P_m1w_m1h',
 'Gb(i)_m1w_m1h',
 'Gd(i)_m1w_m1h',
 'H_sun_m1w_m1h',
 'T2m_m1w_m1h',
 'WS10m_m1w_m1h',
 'load_m1w_m1h',
 'residual_load_m1w_m1h',
 'dataset_id_m1w_m1h',
 'time_local_m1w_m1h',
 'P_m1w',
 'Gb(i)_m1w',
 'Gd(i)_m1w',
 'H_sun_m1w',
 'T2m_m1w',
 'WS10m_m1w',
 'load_m1w',
 'residual_load_m1w',
 'dataset_id_m1w',
 'time_local_m1w',
 'P_m1w_p1h',
 'Gb(i)_m1w_p1h',
 'Gd(i)_m1w_p1h',
 'H_sun_m1w_p1h',
 'T2m_m1w_p1h',
 'WS10m_m1w_p1h',
 'load_m1w_p1h',
 'residual_load_m1w_p1h',
 'dataset_id_m1w_p1h',
 'time_local_m1w_p1h']

In [7]:
## get the data from exactly a week ago and additionally the time steps one hour before and after that one for trends
test_raw = test.copy()

test_tmp = test_raw.copy()
test_tmp['time_local'] = test_tmp['time_local'] - pd.DateOffset(days=7) - pd.DateOffset(hour=1)
test_tmp = test_tmp.add_suffix('_m1w_m1h')
test = pd.concat([test, test_tmp],axis=1).sort_index()

test_tmp = test_raw.copy()
test_tmp['time_local'] = test_tmp['time_local'] - pd.DateOffset(days=7)
test_tmp = test_tmp.add_suffix('_m1w')
test = pd.concat([test, test_tmp],axis=1).sort_index()

test_tmp = test_raw.copy()
test_tmp['time_local'] = test_tmp['time_local'] - pd.DateOffset(days=7) + pd.DateOffset(hour=1)
test_tmp = test_tmp.add_suffix('_m1w_p1h')
test = pd.concat([test, test_tmp],axis=1).sort_index()

test.head()

C:\Users\jkoch\AppData\Local\Temp\ipykernel_30504\1417744030.py:5: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  test_tmp['time_local'] = test_tmp['time_local'] - pd.DateOffset(days=7) - pd.DateOffset(hour=1)
C:\Users\jkoch\AppData\Local\Temp\ipykernel_30504\1417744030.py:15: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  test_tmp['time_local'] = test_tmp['time_local'] - pd.DateOffset(days=7) + pd.DateOffset(hour=1)

,Gb(i),Gd(i),H_sun,T2m,WS10m,dataset_id,time_local,Gb(i)_m1w_m1h,Gd(i)_m1w_m1h,H_sun_m1w_m1h,...,WS10m_m1w,dataset_id_m1w,time_local_m1w,Gb(i)_m1w_p1h,Gd(i)_m1w_p1h,H_sun_m1w_p1h,T2m_m1w_p1h,WS10m_m1w_p1h,dataset_id_m1w_p1h,time_local_m1w_p1h
time,,,,,,,,,,,,,,,,,,,,,
2018-03-26 00:00:00,0.0,0.0,0.0,1.76,1.52,1,2018-03-26 00:00:00,0.0,0.0,0.0,...,1.52,1,2018-03-19 00:00:00,0.0,0.0,0.0,1.76,1.52,1,2018-03-19 01:00:00
2018-03-26 00:15:00,0.0,0.0,0.0,1.57,1.52,1,2018-03-26 00:15:00,0.0,0.0,0.0,...,1.52,1,2018-03-19 00:15:00,0.0,0.0,0.0,1.57,1.52,1,2018-03-19 01:15:00
2018-03-26 00:30:00,0.0,0.0,0.0,1.38,1.52,1,2018-03-26 00:30:00,0.0,0.0,0.0,...,1.52,1,2018-03-19 00:30:00,0.0,0.0,0.0,1.38,1.52,1,2018-03-19 01:30:00
2018-03-26 00:45:00,0.0,0.0,0.0,1.19,1.52,1,2018-03-26 00:45:00,0.0,0.0,0.0,...,1.52,1,2018-03-19 00:45:00,0.0,0.0,0.0,1.19,1.52,1,2018-03-19 01:45:00
2018-03-26 01:00:00,0.0,0.0,0.0,1.00,1.52,1,2018-03-26 01:00:00,0.0,0.0,0.0,...,1.52,1,2018-03-19 01:00:00,0.0,0.0,0.0,1.00,1.52,1,2018-03-19 01:00:00

In [8]:
list(test.columns)

['Gb(i)',
 'Gd(i)',
 'H_sun',
 'T2m',
 'WS10m',
 'dataset_id',
 'time_local',
 'Gb(i)_m1w_m1h',
 'Gd(i)_m1w_m1h',
 'H_sun_m1w_m1h',
 'T2m_m1w_m1h',
 'WS10m_m1w_m1h',
 'dataset_id_m1w_m1h',
 'time_local_m1w_m1h',
 'Gb(i)_m1w',
 'Gd(i)_m1w',
 'H_sun_m1w',
 'T2m_m1w',
 'WS10m_m1w',
 'dataset_id_m1w',
 'time_local_m1w',
 'Gb(i)_m1w_p1h',
 'Gd(i)_m1w_p1h',
 'H_sun_m1w_p1h',
 'T2m_m1w_p1h',
 'WS10m_m1w_p1h',
 'dataset_id_m1w_p1h',
 'time_local_m1w_p1h']